In [2]:
import requests
import pandas as pd
pd.options.display.max_columns = 100
import json

# Get all topicsIds

Les données sont dans un elasticsearch (a priori). On ne peut requêter que les 10000 premiers résultats.
Pour avoir une base complète, on passe par les topics qui pour chacun d'entre eux ne dépassent pas les 10k projets.

In [ ]:
r = requests.post("https://api.tech.ec.europa.eu/search-api/prod/rest/facet?apiKey=SEDIA_NONH2020_PROD&text=***")

In [ ]:
data = r.json()

In [ ]:
for d in data["facets"]:
    if d["rawName"] == "topicAbbreviation":
        topics = d

In [ ]:
topicsIds = []
for t in topics["values"]:
    topicsIds.append({ "id": t["rawValue"], "name": t["value"] })

# Get all projects

In [ ]:
projects = []

In [ ]:
i = 0
for t in topicsIds:
    i += 1
    if t["id"] == "DT-TRANSFORMATIONS-21-2020":
        print(i)

In [ ]:
for tid in topicsIds[2556:]:
    print(tid["id"])
    url = "https://api.tech.ec.europa.eu/search-api/prod/rest/search?apiKey=SEDIA_NONH2020_PROD&text=" + tid["id"] + "&pageSize=1&pageNumber=1"
    r = requests.post(url)
    data = r.json()
    print(data["totalResults"], " résultats")
    pages = int(data["totalResults"] / 100) + 1
    for i in range(pages):
        print("page ", i+1)
        url2 = "https://api.tech.ec.europa.eu/search-api/prod/rest/search?apiKey=SEDIA_NONH2020_PROD&text=" + tid["id"] + "&pageSize=100&pageNumber=" + str(i+1)
        r2 = requests.post(url2)
        data2 = r2.json()
        for result in data2["results"]:
            mydict = {}
            for column in result:
                if column != 'metadata':
                    mydict[column] = result[column]
                else:
                    for metadata in result['metadata']:
                        if isinstance(result['metadata'][metadata], list):
                            mydict[metadata] = ";".join(result['metadata'][metadata])
                        else:
                            mydict[metadata] = result['metadata'][metadata]
            projects.append(mydict)

On a des doublons

In [ ]:
len(projects)

In [ ]:
df = pd.DataFrame(projects)

In [ ]:
df.shape

Donc on dédoublonne :

In [ ]:
df = df.drop_duplicates(subset=["projectId"], keep="first")

In [ ]:
df.shape

On garde les colonnes intéressantes

In [ ]:
df = df[['reference', 'url', 'title', 'summary',
       'content', 'checksum', 'subTypeOfAction',
       'typeOfAction', 'endDate', 'projectWebsite',
       'deliverables', 'objective',
       'freeKeywords', 'subProgramme',
       'topicAbbreviation', 'overallBudget', 'topicDescription',
       'participants', 'acronym', 'programmePeriod',
       'programmes', 'euContributionRate',
       'euContributionAmount', 'ecSignatureDate', 'topicId',
       'programDescription', 'fundedUnder', 'programAbbreviation', 'projectId',
       'programId', 'startDate', 'publications', 'summaries', 'status',
       'destination',
       'destinationGroup', 'programmeDivision', 'crossCuttingPriorities',
       'mission', 'missionGroup']]

In [ ]:
df["url"] = df["url"].apply(lambda x: x.replace("uri -> ", ""))

On créé des fichiers à part pour certaines propriétés qui sont des tableaux

In [ ]:
df

In [ ]:
for element in ["deliverables", "participants", "publications", "summaries"]:
    print(element)
    arr_element = []
    df_element = df[["reference", "programId", "projectId", element]]
    for index, row in df_element.iterrows():
        if row[element] == row[element]:
            try:
                dict_element = json.loads(row[element])
                for de in dict_element:
                    mydict = de
                    mydict["programId"] = row["programId"]
                    mydict["projectId"] = row["projectId"]
                    mydict["reference"] = row["reference"]
                    arr_element.append(mydict)
            except:
                pass
    dfinter = pd.DataFrame(arr_element)
    dfinter.to_csv("data/" + element + ".csv", index=False, sep=";")

On enlève les propriétés ci-dessus

In [ ]:
df = df[[
    'reference', 'url', 'title', 'summary', 'content', 'checksum',
       'subTypeOfAction', 'typeOfAction', 'endDate', 'projectWebsite',
       'objective', 'freeKeywords', 'subProgramme',
       'topicAbbreviation', 'overallBudget', 'topicDescription',
       'acronym', 'programmePeriod', 'programmes',
       'euContributionRate', 'euContributionAmount', 'ecSignatureDate',
       'topicId', 'programDescription', 'fundedUnder', 'programAbbreviation',
       'projectId', 'programId', 'startDate',
       'status', 'destination', 'destinationGroup',
       'programmeDivision', 'crossCuttingPriorities', 'mission',
       'missionGroup'
]]

On sauvegarde

In [ ]:
df.to_csv("data/projects.csv", index=False, sep=";")

In [3]:
df = pd.read_csv("data/participants.csv", sep=";", dtype=str)

In [5]:
df.postalAddress.iloc[0]

"{'id': 0, 'abbreviation': None, 'classId': None, 'context': None, 'description': None, 'postalCode': '24023', 'street': 'VIA NINO ZUCCHELLI 2', 'city': 'Clusone', 'countryCode': {'id': 0, 'abbreviation': 'IT', 'classId': None, 'context': None, 'description': 'Italy', 'postalCode': None, 'street': None, 'city': None, 'countryCode': None}}"

In [22]:
arr = []
for index, row in df.iterrows():
    mydict = {}
    row = row.to_dict()
    for column in row:
        if column != "postalAddress":
            mydict[column] = row[column]
        else:
            if isinstance(row[column], object):
                for item in eval(row[column]):
                    if item != "countryCode":
                        mydict[column + "." + item] = eval(row[column])[item]
                    else:
                        for item2 in eval(row[column])[item]:
                            mydict[item + "." + item2] = eval(row[column])[item][item2]
    arr.append(mydict)

In [23]:
df = pd.DataFrame(arr)

In [24]:
df.to_csv("data/participants.csv", inde)

,role,pic,legalName,postalAddress.id,postalAddress.abbreviation,postalAddress.classId,postalAddress.context,postalAddress.description,postalAddress.postalCode,postalAddress.street,postalAddress.city,countryCode.id,countryCode.abbreviation,countryCode.classId,countryCode.context,countryCode.description,countryCode.postalCode,countryCode.street,countryCode.city,countryCode.countryCode,latitude,longitude,activityType,eucontribution,status,order,organizationType,type,sme,programId,projectId,reference,website,postalAddress.poBox,postalAddress.region,postalAddress.cedex
0,coordinator,919035425,AERIS GROUP HOLDING SRL,0.0,NaN,NaN,NaN,NaN,24023,VIA NINO ZUCCHELLI 2,Clusone,0,IT,None,None,Italy,NaN,NaN,NaN,NaN,45.8860732,9.9472163,Other,1326723.97,Active,1.0,NaN,PRC,True,31045243,811349,31045243811349,NaN,NaN,NaN,NaN
1,thirdParty,900533451,ALENA NW,0.0,NaN,NaN,NaN,NaN,24023,VIA NINO ZUCCHELLI 2,Clusone,0,IT,None,None,Italy,NaN,NaN,NaN,NaN,45.887088,9.949656,Other,99750,Active,1.0,NaN,PRC,True,31045243,811349,31045243811349,NaN,NaN,NaN,NaN
2,thirdParty,906410972,MAZZINIICI SRL,0.0,NaN,NaN,NaN,NaN,24023,VIA NINO ZUCCHELLI 2,Clusone (Bg),0,IT,None,None,Italy,NaN,NaN,NaN,NaN,42.6384261,12.674297,Other,169616.78,Active,1.0,NaN,PRC,True,31045243,811349,31045243811349,NaN,NaN,NaN,NaN
3,thirdParty,906411748,AERIS SRL,0.0,NaN,NaN,NaN,NaN,24023,VIA NINO ZUCCHELLI 2,Clusone,0,IT,None,None,Italy,NaN,NaN,NaN,NaN,45.887088,9.949656,Other,132389.5,Active,1.0,NaN,PRC,True,31045243,811349,31045243811349,NaN,NaN,NaN,NaN
4,coordinator,930260459,SMILEY OWL TECH SL,0.0,NaN,NaN,NaN,NaN,20018,CALLE ARTURO CAMPION 22,San Sebastian,0,ES,None,None,Spain,NaN,NaN,NaN,NaN,43.3224219,-1.9838889,Other,587475,Active,1.0,NaN,PRC,True,31045243,811319,31045243811319,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318740,participant,972778178,MINISTERIE VAN ECONOMISCHE ZAKEN EN KLIMAAT,0.0,NaN,NaN,NaN,NaN,2595 AC,BEZUIDENHOUTSEWEG 73,The Hague,0,NL,None,None,Netherlands,NaN,NaN,NaN,NaN,36.2992331,-89.751194,Other,0,Terminated,32.0,NaN,PUB,False,31045243,689271,31045243689271,NaN,NaN,NaN,NaN
318741,participant,919917349,FONDS INNOVEREN EN ONDERNEMEN,0.0,NaN,NaN,NaN,NaN,1030,BOULEVARD DU ROI ALBERT II 35,Bruxelles / Brussel,0,BE,None,None,Belgium,NaN,NaN,NaN,NaN,50.8584406,4.3557975,Other,81830.43,Active,33.0,NaN,PUB,False,31045243,689271,31045243689271,NaN,NaN,NaN,NaN
318742,participant,911508128,AGENCIA ESTATAL DE INVESTIGACION,0.0,NaN,NaN,NaN,NaN,28071,TORRELAGUNA 58 BIS,Madrid,0,ES,None,None,Spain,NaN,NaN,NaN,NaN,40.4167047,-3.7035825,Other,455956.38,Active,34.0,NaN,PUB,False,31045243,689271,31045243689271,NaN,NaN,NaN,NaN
318743,participant,904725209,"De Staat, Vertegenwoordigd door de minister va...",0.0,NaN,NaN,NaN,NaN,2594 AC,"BEZUIDENHOUTSEWEG 73, POSTBUS 20401",Den Haag,0,NL,None,None,Netherlands,NaN,NaN,NaN,NaN,52.083269,4.3250499,Other,240987.45,Active,35.0,NaN,PUB,False,31045243,689271,31045243689271,NaN,NaN,NaN,NaN
318744,participant,894763406,Ministero dell'università e della ricerca,0.0,NaN,NaN,NaN,NaN,00153,Via Michele Carcani 61,Roma,0,IT,None,None,Italy,NaN,NaN,NaN,NaN,41.81435465,12.226936957567165,Other,268138.86,Active,36.0,NaN,PUB,False,31045243,689271,31045243689271,NaN,NaN,NaN,NaN